[submodule "server/src/github.com/googollee/go-socket.io"]
	path = server/src/github.com/googollee/go-socket.io
	url = git@github.com:googollee/go-socket.io.git
[submodule "server/src/github.com/googollee/go-engine.io"]
	path = server/src/github.com/googollee/go-engine.io
	url = git@github.com:googollee/go-engine.io.git
